$sanserif: 'Helvetica', Arial, sans-serif;
$text-color-main: #444444;
$text-color-darker: #333333;
$nav-spacing: 20px;
$accent-color-main: #CFCDFF;
$accent-color-secondary: #DFE7FF;
$small-font: 0.7em;

body, html {
  height: 100%;
}

body {
  font-family: $sanserif;
  font-size: 1em;
  font-weight: 400;
  color: $text-color-main;
}

a {
  text-decoration: none;
  color: $text-color-darker;
  font-weight: 600;
}

#container {
  width: 900px;
  padding: 40px 0px;
  margin: 0 auto;
}

h1 {
  font-weight: 800;
  color: $text-color-darker;
}